@import "../../globalStyles.scss";

.buttonWrapper {
  display: flex;
  position: fixed;
  top: 18px;
  right: 18px;

  .button {
    border: none;
    outline: none;
    font-weight: $bold;
    font-size: $font-size-xxs;
    color: $white;
    background-color: $medium-grey;
    &:disabled {
      color: $light-grey;
    }
  }
}
