@import "../../globalStyles.scss";

.playPauseButtonWrapper {
  display: flex;
  position: fixed;
  bottom: 16px;

  .playPauseButton {
    @include circle-icon;
    background-color: $blue;
    font-size: $font-size-xl;
    color: $black;

    .playPauseIcon {
      height: 16px;
      width: 16px;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}
