.playPauseButtonWrapper {
  display: flex;
  position: fixed;
  bottom: 16px;
}

.playPauseButton {
  height: 56px;
  width: 56px;
  border: none;
  border-radius: 50%;
  background-color: rgb(66, 148, 196);
  font-size: 30px;
  color: black;
  outline: none;
}

.playPauseIcon {
  height: 16px; 
  width: 16px;
  position: absolute;
  bottom: 20px;
  right: 20px;


}
