@import "../../globalStyles.scss";

.intervalCircle {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .circle {
    stroke: $white;
    stroke-width: 5px;
    fill: transparent;
  }
  .circleProgress {
    stroke: $blue;
    stroke-width: 5px;
    fill: transparent;
  }
  .largeTimer {
    font-size: $font-size-xxl;
    font-weight: $semi-bold;
    margin: 10px;
    &.active {
      fill: $red;
    }
    &.rest {
      fill: $green;
    }
    &.end {
      fill: $white;
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
  .text {
    fill: $white;
    font-size: $font-size-m;
  }
}
