@import "../../globalStyles.scss";

.intervalCircle {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .circle {
    stroke: $white;
    stroke-width: 5px;
    fill: transparent;
  }
  .circleProgress {
    stroke: $blue;
    stroke-width: 5px;
    fill: transparent;
  }
  .largeText {
    fill: $white;
    font-size: $font-size-xxl;
  }
  .text {
    fill: $white;
    font-size: $font-size-m;
  }
}

.largeTimer {
  font-size: $font-size-xxl;
  font-weight: $semi-bold;
  margin: 10px;
  &.active {
    color: $red;
  }
  &.rest {
    color: $green;
  }
}
