@import "../../globalStyles.scss";

.inputCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 16px 0;

  .title {
    font-size: $font-size-m;
    font-weight: $semi-bold;
  }

  .input {
    height: 36px;
    width: 96px;
    border-radius: 4px;
    margin: 8px;
    outline: none;
    text-indent: 10px;
    font-weight: $regular;
    font-size: $font-size-s;
    color: $black;
  }
}
