@import "../../globalStyles.scss";

.inputTextCard {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 16px 0;

  .title {
    font-size: $font-size-m;
    font-weight: $semi-bold;
  }

  .input {
    height: 36px;
    border: none;
    border-bottom: 1px solid;
    display: flex;
    width: 100%;
    margin: 8px;
    outline: none;
    background: none;
    text-indent: 10px;
    font-weight: $regular;
    font-size: $font-size-m;
    color: $white;
  }
}
