@import "../../globalStyles.scss";

.inputNumberCard {
  width: 100%;
  padding: 16px 0;

  .inputTitle {
    font-size: $font-size-m;
  }

  .inputValue {
    font-size: $font-size-l;
    margin-bottom: 20px;
  }

  .slider {
    -webkit-appearance: none;  
    align-self: center;
    width: 80%;
    height: 5px;
    background-color: $light-grey;
    opacity: 0.7;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $blue;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $blue;
  }
}
