@import "../../globalStyles.scss";

.bubbles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .bubble {
    margin: 5px;
    height: 16px;
    width: 16px;
    border-radius: 50%;

    &.empty {
      background-color: $light-grey;
    }
    &.filled {
      background-color: $blue;
    }
  }
}
