.navBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f4552;
  padding-top: 12px;
  padding-bottom: 12px;
  float: left;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}
