.addButtonWrapper {
  display: flex;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.addButton {
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 50%;
  background-color: green;
  font-size: x-large;
}