.addButtonWrapper {
  display: flex;
  position: fixed;
  bottom: 16px;
}

.addButton {
  height: 56px;
  width: 56px;
  border: none;
  border-radius: 50%;
  background-color: rgb(66, 148, 196);
  font-size: 30px;
  color: black;
}