@import "../../globalStyles.scss";

.circle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 256px;
  width: 256px;
  border-width: 5px;
  border-style: solid;
  border-color: $white;
  border-radius: 50%;
  margin: 40px;
  font-size: $font-size-xl;
  color: $black;

  .text {
    color: $white;
    font-size: $font-size-m;
  }

  .largeTimer {
    font-size: $font-size-xxl;
    font-weight: $semi-bold;
    margin: 10px;
    &.active {
      color: $red;
    }
    &.rest {
      color: $green;
    }
  }
}
