.circle {
  display: flex;
  flex-direction: column;
  height: 256px;
  width: 256px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.largeTimer {
  font-size: 78px;
  font-weight: bold;
  margin: 10px;
}

.text {
  color: white;
  font-size: 18px;
}

.active {
  color: #ff6347;
}

.rest {
  color: rgb(66, 148, 196);
}
